<a href="https://colab.research.google.com/github/guptasamz/CS_6376_Hybrid_Embedded_Sys/blob/main/Assignment_0-aws.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this assignment we are going to work with data that was downloaded using using the [yfinance](https://pypi.org/project/yfinance/) library. It containst daily closing prices of all symbols.

In [56]:
import time
t1 = time.perf_counter()

from multiprocessing   import Pool
from tqdm import *
import pandas as pd

In [57]:
#Question 1: Explain what the code below is trying to do. Describe each step.
data = pd.read_csv("http://www.nasdaqtrader.com/dynamic/SymDir/nasdaqtraded.txt", sep='|')
data_clean = data[data['Test Issue'] == 'N']
symbols = set(data_clean['NASDAQ Symbol'].tolist())
data = pd.read_csv("http://www.nasdaqtrader.com/dynamic/SymDir/otherlisted.txt", sep='|')
data_clean = data[data['Test Issue'] == 'N']
symbols = set(data_clean['NASDAQ Symbol'].tolist())

In [58]:
#Describe your answer below.
#Answer 1: 

"""
The above piece of code first reads the text file from the nasdaqtrader website which consists of 11765 rows and 12 columns seprated by the '|' operator, this data is stored as a pandas dataframe in variable 'data' .
Next, the data gets clean and stored in the 'data_clean' variable. In this step the rows for which the 'Test Issue' value is not 'N' are all filtered out and removed from the set i.e. 'Y' and 'nan' values are removed and the remaining dataset has a shape 11730 rows and 12 columns.
Finally, all the symbols (individual data element in each row) from the NASDAQ Symbol column are converted to a set (duplicates are removed as no duplicates in set). The set 'symbols' has a length of 11730. 

Above describes the first three lines of code wherein the data is retrieved from the nasdaqtraded.txt file 

Second Half of the code:
The data is read from the otherlisted file and stored in the variable 'data' as a pandas dataframe and each column is separated by '|' operator, the data has a shape 6307 rows and 8 columns. 
Next, the data gets clean and stored in the 'data_clean' variable. In this step the rows for which the 'Test Issue' value is not 'N' are all filtered out and removed from the set i.e. 'Y' and 'nan' values are removed and the remaining dataset has a shape 6281 rows and 8 columns.
Finally, all the symbols (individual data element in each row) from the NASDAQ Symbol column are converted to a set (duplicates are removed as no duplicates in set). The set 'symbols' has a length of 6281.
"""

"\nThe above piece of code first reads the text file from the nasdaqtrader website which consists of 11765 rows and 12 columns seprated by the '|' operator, this data is stored as a pandas dataframe in variable 'data' .\nNext, the data gets clean and stored in the 'data_clean' variable. In this step the rows for which the 'Test Issue' value is not 'N' are all filtered out and removed from the set i.e. 'Y' and 'nan' values are removed and the remaining dataset has a shape 11730 rows and 12 columns.\nFinally, all the symbols (individual data element in each row) from the NASDAQ Symbol column are converted to a set (duplicates are removed as no duplicates in set). The set 'symbols' has a length of 11730. \n\nAbove describes the first three lines of code wherein the data is retrieved from the nasdaqtraded.txt file \n\nSecond Half of the code:\nThe data is read from the otherlisted file and stored in the variable 'data' as a pandas dataframe and each column is separated by '|' operator, the data has a shape 6307 rows and 8 columns. \nNext, the data gets clean and stored in the 'data_clean' variable. In this step the rows for which the 'Test Issue' value is not 'N' are all filtered out and removed from the set i.e. 'Y' and 'nan' values are removed and the remaining dataset has a shape 6281 rows and 8 columns.\nFinally, all the symbols (individual data element in each row) from the NASDAQ Symbol column are converted to a set (duplicates are removed as no duplicates in set). The set 'symbols' has a length of 6281.\n"

In [59]:
!wget  -O stocks.parquet https://www.dropbox.com/s/gzpi950gfdz9dsk/stocks.parquet?dl=1 # lets download the data

--2023-01-30 01:21:24--  https://www.dropbox.com/s/gzpi950gfdz9dsk/stocks.parquet?dl=1
Resolving www.dropbox.com (www.dropbox.com)... 162.125.6.18, 2620:100:601c:18::a27d:612
Connecting to www.dropbox.com (www.dropbox.com)|162.125.6.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/dl/gzpi950gfdz9dsk/stocks.parquet [following]
--2023-01-30 01:21:24--  https://www.dropbox.com/s/dl/gzpi950gfdz9dsk/stocks.parquet
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc92dfc47b81e9014f4dc7b6fe2d.dl.dropboxusercontent.com/cd/0/get/B1hhvfoV_rNIGq4Jj60WUpQDwGUroKeTGw_yMRfsIIaNDgmEKmCl2n5IVNlr6A-DzUNc8nj-UUOmV7BUAb27Zazs2J2eyG354VXQTC5MoDSDdHzAGsLyIDtrBHvzy7HaVpN7QkaOn04kfe3YI6DZsGn6mB932r2kjzthRES7S0gq_g/file?dl=1# [following]
--2023-01-30 01:21:24--  https://uc92dfc47b81e9014f4dc7b6fe2d.dl.dropboxusercontent.com/cd/0/get/B1hhvfoV_rNIGq4Jj60WUpQDwGUroKeTGw_yMRfsIIaNDgmEKmCl2n5IVNlr6A-DzUNc8nj-UUOmV7BUAb27Zazs2J2eyG354VXQTC5MoDSDdHzAGsLyIDtrBHvzy7HaVpN7QkaOn04kfe3YI6DZsGn6mB932r2kjzthRES7S0gq_g/file?dl=1
Resolving uc92dfc47b81e9014f4dc7b6fe2d.dl.dropboxusercontent.com (uc92dfc47b81e9014f4dc7b6fe2d.dl.dropboxusercontent.com)... 162.125.6.15, 2620:100:601c:15::a27d:60f
Connecting to uc92dfc47b81e9014f4dc7b6fe2d.dl.dropboxusercontent.com (uc92dfc47b81e9014f4dc7b6fe2d.dl.dropboxusercontent.com)|162.125.6.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 678640589 (647M) [application/binary]
Saving to: ‘stocks.parquet’

stocks.parquet      100%[===================>] 647.20M   105MB/s    in 7.5s

2023-01-30 01:21:33 (86.4 MB/s) - ‘stocks.parquet’ saved [678640589/678640589]

In [60]:
!ls stocks.parquet -l #downloaded file

-rw-rw-r-- 1 ubuntu ubuntu 678640589 Jan 30 01:21 stocks.parquet

In [61]:
#Bonus question 1 - find on internet and write the command that will download the all data from the symbols list. 
# Note: The below code is commented out because colab runs into out of memory issue when executing all the cells in the file. 
#       Please execute this cell as standalone to ensure that OOM issue does not occur. This is not the case for colab+AWS


col = ['symbol']
sym = pd.read_parquet("https://www.dropbox.com/s/gzpi950gfdz9dsk/stocks.parquet?dl=1", columns = col)
print(sym)
sym = []

         symbol
0           HPQ
1           HPQ
2           HPQ
3           HPQ
4           HPQ
...         ...
30305073  XPAXW
30305074  CDAQW
30305075   MH-D
30305076  JAQCW
30305077  SANBW

[30305078 rows x 1 columns]

In [62]:
data=pd.read_parquet('stocks.parquet')

In [63]:
data.head(5) # Below shows a sample of the data.
#date - describes the day of the price
#open - the price at which stock opened
#high - what was the intraday high
#low - what is the intraday low
#close - what was the closing price
#adj_close - the price calculated after adjusting for all future stock splits
#dividends - what are the dividends that were paid on the day.
#stock_splits - if the stock was split
#symbol the symbol of the stock

,date,open,high,low,close,adj_close,volume,dividends,stock_splits,symbol,day,year,month,dayofweek
0,1962-01-02,0.131273,0.131273,0.124177,0.124177,0.045278,2480333.0,0.0,0.0,HPQ,2,1962,1,Tuesday
1,1962-01-03,0.124177,0.124177,0.121516,0.122846,0.044793,507341.0,0.0,0.0,HPQ,3,1962,1,Wednesday
2,1962-01-04,0.122846,0.126838,0.117968,0.120185,0.043823,845568.0,0.0,0.0,HPQ,4,1962,1,Thursday
3,1962-01-05,0.119742,0.119742,0.117525,0.117525,0.042853,338227.0,0.0,0.0,HPQ,5,1962,1,Friday
4,1962-01-08,0.117525,0.119299,0.115307,0.119299,0.043500,873754.0,0.0,0.0,HPQ,8,1962,1,Monday

In [64]:
# Question 2 find top 20 best performer stocks - i.e. the stocks that provided the best return.
# if the stocks adj_close on the earliest date was X and the adj_close on the 2021-01-01 is y and the number of days elapsed between these dates is Z.
# Then return = Y/X/Z

In [65]:
#Convert date in string format to date time format
data['date']= pd.to_datetime(data['date'])

In [66]:
#Getting the indexes of the of the columns that have the minimum date according to each symbol
min_idx = data.groupby(['symbol'])['date'].transform(min) == data['date']
#Extracting all the columns, sorting according to symbol and reseting the index
earliest_date = data[min_idx].sort_values('symbol').reset_index()

In [67]:
#Getting the indexes of the of the columns that have the maximum date according to each symbol
max_idx = data.groupby(['symbol'])['date'].transform(max) == data['date']
y_value = data[max_idx].sort_values('symbol').reset_index()

In [68]:
#Dropping columns that are not required
earliest_date = earliest_date.drop(columns=['index', 'open','high','low','close','volume','dividends','stock_splits','day','year','month','dayofweek'])
#Extracting all the columns, sorting according to symbol and reseting the index
y_value = y_value.drop(columns=['index', 'open','high','low','close','volume','dividends','stock_splits','day','year','month','dayofweek'])
#earliest_date

In [69]:
#Renaming the columns
#y_value = y_value.sort_values(['symbol'], ignore_index=True)
y_value.rename({'adj_close': 'Y', 'date': 'y_date'}, axis=1, inplace=True)
#y_value

#Renaming the columns
earliest_date.rename({'adj_close': 'X', 'date': 'x_date'}, axis=1, inplace=True)
#earliest_date

#merging the two dataframes created based on symbol
result = pd.merge(earliest_date, y_value, on='symbol')
#result

In [70]:
#Extract the number of days (Z column)
result['Z'] = result['y_date'] - result['x_date'] 
#Convert the number of days (Z column) to integer value for division
result['Z'] = pd.to_numeric(result['Z'].dt.days, downcast='integer')
result['Z'] = result['Z'] + 1

#Get the return according to the given format
result['return'] = result['Y'] / result['X'] / result['Z']

#result

In [71]:
result

          x_date          X symbol     y_date           Y      Z    return
0     1999-11-18  27.102226      A 2021-12-27  158.740005   8076  0.000725
1     1962-01-02   1.541704     AA 2021-12-27   59.830002  21910  0.001771
2     2020-09-09  24.849628    AAA 2021-12-27   25.014999    475  0.002119
3     2018-08-15  11.740000   AAAU 2021-12-27   18.010000   1231  0.001246
4     2021-03-25   9.870000    AAC 2021-12-27    9.740000    278  0.003550
...          ...        ...    ...        ...         ...    ...       ...
11045 2012-03-29  20.000000    ZWS 2021-12-27   36.470001   3561  0.000512
11046 2021-04-22  37.650002     ZY 2021-12-27    7.160000    250  0.000761
11047 2017-04-28  13.000000   ZYME 2021-12-27   15.820000   1705  0.000714
11048 2015-08-05  16.250000   ZYNE 2021-12-27    3.160000   2337  0.000083
11049 2004-02-25   1.534255   ZYXI 2021-12-27   10.480000   6516  0.001048

[11050 rows x 7 columns]

In [72]:
#Sort the result according the return in descending order
result = result.sort_values(['return'], ascending=False, ignore_index=True)

#Obtain the required result
result.head(20)

       x_date             X symbol     y_date           Y      Z        return
0  2017-06-19  0.000000e+00   USOI 2021-12-27    5.170000   1653           inf
1  2017-06-13  0.000000e+00   VSDA 2021-12-27   47.099998   1659           inf
2  2017-07-03  0.000000e+00   GIGB 2021-12-27   54.344002   1639           inf
3  2017-06-23  0.000000e+00   JPST 2021-12-27   50.490002   1649           inf
4  2014-12-23  0.000000e+00   TUSA 2021-12-27   50.530998   2562           inf
5  2017-06-20  0.000000e+00   FLQL 2021-12-27   46.860001   1652           inf
6  2013-09-24  0.000000e+00   LRFC 2021-12-27   23.230000   3017           inf
7  2012-12-18  0.000000e+00   PRTA 2021-12-27   47.430000   3297           inf
8  2015-03-23  0.000000e+00     XT 2021-12-27   66.769997   2472           inf
9  2017-06-20  0.000000e+00   FLQM 2021-12-27   48.005001   1652           inf
10 2017-06-20  0.000000e+00   FLQS 2021-12-27   39.870998   1652           inf
11 1981-04-30  2.275794e-09    NVO 2021-12-27  111.629997  14852  3.302654e+06
12 1980-12-02  3.775067e-06    NKE 2021-12-27  167.580002  15001  2.959220e+03
13 1980-03-17  9.812100e-06    DCI 2021-12-27   57.939999  15261  3.869310e+02
14 1987-06-26  2.857077e-05    TJX 2021-12-27   74.290001  12604  2.063004e+02
15 1980-03-17  4.768529e-04   WTRG 2021-12-27   52.549999  15261  7.221132e+00
16 1980-03-17  1.051490e-03    TTC 2021-12-27   99.879997  15261  6.224300e+00
17 1973-05-03  7.828808e-04    USB 2021-12-27   56.740002  17771  4.078325e+00
18 1966-07-05  3.923203e-03    MCD 2021-12-27  268.239990  20265  3.373931e+00
19 1987-09-16  3.345692e-03    PII 2021-12-27  107.000000  12522  2.554019e+00

In [73]:
from numpy import inf
i = int(0)
print("The top 20 stock symbols are (ignoring stocks that have adj_close = 0 on earliest date): ")
for ind in result.index:
    if(result['return'][ind] != inf):
      print(str(i+1) + " " + result['symbol'][ind])
      i = i+1
    if i == 20:
      break

The top 20 stock symbols are (ignoring stocks that have adj_close = 0 on earliest date):
1 NVO
2 NKE
3 DCI
4 TJX
5 WTRG
6 TTC
7 USB
8 MCD
9 PII
10 HD
11 TBSAW
12 NHIC
13 PAQCW
14 TRKAW
15 NLITW
16 APACW
17 RICOW
18 HYMCW
19 ELMSW
20 TRITW

In [74]:
t2 = time.perf_counter()
print('Total Time taken to run:',t2-t1)

Total Time taken to run: 63.8553392419999

In [75]:
#Question 3: Create a copy of this notebook called assignment-aws and follow the instructions in readme to run the notebook on AWS compute instance.
# Compare performance of running natively on colab and colab+AWS
""" 
Total time taken on Google Colab (without AWS) = 65.56363778499986 seconds 

Total time taken on Colab (with AWS) = 52.512104175000104 seconds

Obeservation: It can be concluded that the amount of time taken on the free teir of colab is considerably longer as compared 
              to that using colab+AWS as seen in the above two results. Two key areas where standalone colab is slow are 
              sorting of huge amount of data and downloading of the stock.parquet file using wget command. 

              Another key observation is that when executing the code of the bonus question, google colab runs out of memory and
              due to which the entire file does not execute. However, this is not the case with colab+AWS where the all lines of code execte 
              and the time taken is 68.228999123 seconds for the entire file. 
"""

' \nTotal time taken on Google Colab (without AWS) = 65.56363778499986 seconds \n\nTotal time taken on Colab (with AWS) = 52.512104175000104 seconds\n\nObeservation: It can be concluded that the amount of time taken on the free teir of colab is considerably longer as compared \n              to that using colab+AWS as seen in the above two results. Two key areas where standalone colab is slow are \n              sorting of huge amount of data and downloading of the stock.parquet file using wget command. \n\n              Another key observation is that when executing the code of the bonus question, google colab runs out of memory and\n              due to which the entire file does not execute. However, this is not the case with colab+AWS where the all lines of code execte \n              and the time taken is 68.228999123 seconds for the entire file. \n'